html {
  background-color: #ffffff;
  color: white;
  font-family: ALS Sector, regular;
  font-size: 16px;
  height: 100%; /* Устанавливаем высоту на всю страницу */
  width: 100%;
  overflow-x: hidden; /* Скрыть горизонтальный скролл */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-size: 0.875em; /* 14px */
}

main {
  width: 100%;
  height: 64em; 
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

header {
  width: auto;
  background: transparent;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center;
  background: #006CDC;
  height: 70%;
  max-height: 60px;
  width: 1990px;
  margin-left:-30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:5px;
  padding-top:3px; */
}

.bmstu {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: row;
  margin: 0.4375em 0 0.4375em; /* 7px 80px 7px */
}

.bmstu-image {
  background-color: transparent;
  width: 4.36em; /* 69.87px */
  height: 5.16em; /* 82.48px */
  margin: 0 0.9375em 0; /* 0 15px 0 */
}

.bmstu-text {
  width: 12.75em; /* 204px */
  font-size: 0.75em; /* 12px */
  font-family: ALS Sector, regular;
  font-weight: bold;
  color: black;
  margin: auto 0 auto;
}

.bmstu-line {
  position: relative;
  width: 0.0625em; /* 1px */
  height: 2.4375em; /* 39px */
  background-color: black;
  margin: auto 0.9375em auto; /* 0 15px 0 */
}

.menu {
  font-family: ALS Sector, regular;
  color: black;
  top: 7.8125em; 
  display: flex;
  align-items: center;
  margin-right: 9.375em;
  padding-left: 10em;
}

.search {
  /* width:620px; */
  width: 100%;
  max-width: 620px;
  min-width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 0.625em;
  overflow: hidden;
  box-shadow: 0px 0px 3.125em 1em #DDEBFA;
  margin: 1em auto;
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent; /* Added background color for better visibility */
  border-radius: 0.625em; /* Rounded corners */
}

.search-button {
  width: 1.5em;
  margin-right: 0.5em;
  height: 1.5em;
  background-image: url('http://192.168.56.101:9000/static/search-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.search-bar {
  width: 100%;
  height: 2.5em;
  font-size: 1.25em;
  font-family: ALS Sector, Regular;
  color: #666A6F;
  border: none;
  padding-left: 1em;
  box-sizing: border-box;
}

.cart {
  position: absolute;
  right: 9.375em; /* 150px */
  width: 4.375em; /* 70px */
  height: 4.375em; /* 70px */
  background-color: #F7FAFE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6.25em 0.625em #DDEBFA, inset 0 0 0 0.1875em #DEECFA;
  margin-left: auto;
}

.cart-icon {
  background-color: transparent;
  width: 2.0625em; /* 33px */
  height: 1.875em; /* 30px */
  margin: 0 auto;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #DDEBFA;
  width: 1.5em; /* 24px */
  height: 1.5em; /* 24px */
  font-family: ALS Sector;
  font-size: 1em; /* 16px */
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #006CDC;
}

.events {
  position:relative;
  color: #303030;
  font-size: 36px;
  font-family: ALS Sector, regular;
  font-weight: bold;
  margin: 1em 4em 1em;
  z-index: 10;
}

.event-container {
  width: 100%;
  /* width: calc(100% - 18.75em); 100% - 300px */
  height: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19.375em, 1fr));
  grid-gap: 2.5em; /* 40px */
  margin: 2em 9.325em;
  box-sizing: border-box;
}

.event-card {
  min-width: 100px;
  height: 290px;
  border-radius: 20px;
  background-color: #F7FAFE;
  box-shadow: 0px 0px 50px 16px #DDEBFA, inset 0 0 0 3px #DEECFA;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.event-text h1 {
  max-height: 6em; /* Ограничение высоты - пример, нужно подбирать */
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляет три точки в конце */
  font-size: 24px;
  font-family: ALS Sector, regular;
  font-weight: bold;
  color: #006CDC;
  margin-bottom: 0;
  padding-top: 0.625em;
}

.event-text p {
    font-size: 16px;
    font-family: ALS Sector, Regular;
    padding-top: 10px;
    color: #303030;
    opacity: 58%;
    margin: 0;
}

.event-text {
  position: relative;
  width: 40%;
  height: 100%;
  margin: 0 16px;
}

.event-img {
  width: 60%;
  height: 100%;
  background-color: transparent;
  box-shadow: -0.1875em 0.1875em 0 0 #DEECFA inset, -0.1875em -0.1875em 0 0 #DEECFA inset;
  
  object-fit: cover;
  overflow: hidden;
}

.event-img img {
  z-index: -2;
}

.add-event-button {
  width: 100%;
  position: absolute;
  bottom: 1em; /* 16px */
  left: 0;
  padding: 0.5em 1em; /* 8px 16px */
  background-color: #006CDC;
  border-radius: 0.625em; /* 10px */
  font-size: 1em; /* 16px */
  font-family: ALS Sector, Regular;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.event-card-long {
  width: 100%;
  height: fit-content;
  border-radius: 1.25em; /* 20px */
  background-color: #F7FAFE;
  box-shadow: 0px 0px 3.125em 1em #DDEBFA, inset 0 0 0 0.1875em #DEECFA;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.event-card-long-text {
  width: 60%;
  margin: 1.875em 3.75em;
  position: relative;
}

.event-card-long-text h1 {
  font-size: 1.5em; /* 24px */
  font-family: ALS Sector, regular;
  font-weight: bold;
  color: #006CDC;
  margin-bottom: 0.625em; /* 10px */
}

.event-card-long-text p {
  font-size: 1em; /* 16px */
  font-family: ALS Sector, Regular;
  margin: 0;
  color: #303030;
  padding-bottom: 0.625em; /* 10px */
}

.event-card-long-text h3 {
  font-weight: lighter;
  background-color: white;
  width: fit-content;
  height: 2.5em; /* 40px */
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.25em; /* 20px */
  font-family: ALS Sector, Regular;
  color: #303030;
  padding: 0 1em; /* 16px */
  box-shadow: 0px 0px 1.5625em 0.25em #DDEBFA;
  border-radius: 0.625em; /* 10px */
}

.del-visit-button {
  margin-right: 0;
  height: 40px;
  padding: 0.5em 1em; /* 8px 16px */
  background-color: #006CDC;
  border-radius: 0.625em; /* 10px */
  font-size: 1.25em; /* 20px */
  font-family: ALS Sector, Regular;
  color: #ffffff;
  display: flex;
  align-items: center;

  margin-right: 0;
}

.event-card-long-img {
  border-top-right-radius: 1.25em; /* 20px */
  border-bottom-right-radius: 1.25em; /* 20px */
  width: 40%;
  background-color: #666A6F;
  box-shadow: -0.1875em 0.1875em 0 0 #DEECFA inset, -0.1875em -0.1875em 0 0 #DEECFA inset;
  object-fit: cover;

  position: relative;
}
.event-card-long-img img{
  position: absolute;
  bottom: 0;
}

.menu3 {
  width: calc(100% - 18.75em); /* 100% - 300px */
  display: flex;
  align-items: center;
  margin: 1.75em 9.375em;
  position: relative;
}

.menu3 p {
  background-color: white;
  width: 30%;
  min-width: fit-content;
  height: 40px;
  margin:0 auto 0 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: ALS Sector, Regular;
  color: #303030;
  padding-left: 16px;
  box-shadow: 0px 0px 50px 8px #DDEBFA;
  border-radius: 10px;
}

.menu3 h1 {
  margin: 0;
  margin-right:40px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #303030;
  font-size: 2.25em; /* 36px */
  font-family: ALS Sector, regular;
  font-weight: bold;
  z-index: 10;
}

a {
  text-decoration: none;
}

.empty-cart {
  margin: 0 9.375em;
  color: #006CDC;
  font-size: 2.25em; /* 36px */
  font-family: ALS Sector, regular;
  font-weight: bold;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #303030;
  font-family: ALS Sector, regular;
  text-align: center;
  padding-top: 10%;
}

.home-title {
  font-size: 2.5em;
  margin-bottom: 1.25em; /* 20px */
}

.home-description {
  font-size: 1.2em;
  margin-bottom: 2.5em; /* 40px */
  max-width: 37.5em; /* 600px */
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

.home-button{
  width:20em;
  height:2em;
  background-color: #006CDC;
  border-radius: 0.625em; /* 10px */
  font-size: 18px;
  font-family: ALS Sector, Regular;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: inline-block;
  justify-content: space-between; 
}

.navbar-link {
  color: #303030; /* Changed to white for better contrast */
  font-size: 18px;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}
.breadcrumbs{
  color:#006CDC;
  font-size: 18px; 
  font-family: ALS Sector, Regular;
}

@media (max-width: 500px){
  .events{
    margin: 0.5em 2em;
    font-size: 24px;
  }
  a {
    flex-direction: column;
  }
  .event-card{
    height: fit-content;
  }
  .event-text{
    width: auto;
  }
  .event-text .col-md-4{
    width: 100%;
    margin: 1em;
  }
  .event-img{
    width: auto;
  }
  .event-img .col-md-8{
    width:100%;
  }
}